# external requirements
click==8.1.3
Sphinx==6.1.3
coverage==7.0.5
flake8==5.0.*
flake8-black==0.3.*
flake8-import-order==0.18.*
pre-commit==2.21.*
isort==5.11.*
black==22.3.0
python-dotenv>=0.5.1
dvc==2.41.1
dvc[gdrive]
dvc[gs]
numpy==1.22.4
Markdown==3.4.1
Pillow==9.4.0
setuptools==65.5.0
fsspec[gcs]
google-cloud-storage==2.7.0

# extra requirements
omegaconf==2.3.0
pytorch-lightning==1.8.6
timm==0.6.12
wandb==0.13.9
protobuf==3.20.1
