# local package
-e .

# external requirements
click
Sphinx
coverage
# awscli
flake8==5.0.*
flake8-black==0.3.*
flake8-import-order==0.18.*
pre-commit==2.21.*
isort==5.11.*
python-dotenv>=0.5.1
numpy==1.22.4
Markdown==3.4.1
omegaconf==2.3.0
Pillow==9.4.0
pytorch_lightning==1.8.6
setuptools==65.5.0
timm==0.6.12
torch==1.10.2
torchvision==0.11.0a0
